{erl_opts, [
    debug_info,
    bin_opt_info,
    {i, "include"}
]}.

{project_plugins, [
    erlfmt
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test_ci, [
        {ct, "--spec test/conf/test-ci.spec --cover --readable true"},
        {cover, "-m 100"}
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        {cover, "-m 100"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {nct_util, {git, "https://github.com/nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

% Ignore xref warnings on public external exports
{xref_ignores, [
    {nhooks, do, 3},
    {nhooks, register_task, 3},
    {nhooks, register_task, 4},
    {nhooks, deregister_task, 2},
    {nhooks, deregister_app_tasks, 1},
    {nhooks, consult_tasks, 2},
    {nhooks, consult_app_tasks, 1}
]}.
